ul.menu-always-on-top li {
	float: left;
}

ul.menu-always-on-top,ul.menu-always-on-top li ul {
	list-style: none;
	z-index: 9998;
}

ul.menu-always-on-top li:last-child a {
	background: none;
}

ul.menu-always-on-top li a {
	background: url(images/menu_sep.png) no-repeat right center;
	display: table-cell;
	height: 55px;
	letter-spacing: 0.5px;
	padding: 0 20px;
	vertical-align: middle;

	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}

ul.menu-always-on-top li a:hover {
	
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
	
}

/******************************************************************************
 * Menu Depth 2
 ******************************************************************************/
ul.menu-always-on-top li:hover ul {
	opacity: 1;

	-webkit-transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-o-transition: opacity 500ms linear;
	-ms-transition: opacity 500ms linear;
	transition: opacity 500ms linear;
	visibility: visible;
}

ul.menu-always-on-top li ul {
	padding: 0px;
	position: absolute;
	opacity: 0;
	width: 180px;
	visibility: hidden;
}

ul.menu-always-on-top li ul li {
	float: left;
	padding: 0 0 5px 0;
}

ul.menu-always-on-top li ul li a {
	width: 160px;
	height: auto;
	padding: 10px 0 0 20px;
	background: none;

	-webkit-transition: padding 200ms;
	-moz-transition: padding 200ms;
	-o-transition: padding 200ms;
	-ms-transition: padding 200ms;
	transition: padding 200ms;
}

ul.menu-always-on-top li ul li a:hover {
	padding: 10px 0 0 30px;
	-webkit-transition: padding 200ms;
	-moz-transition: padding 200ms;
	-o-transition: padding 200ms;
	-ms-transition: padding 200ms;
	transition: padding 200ms;
}